language: java
jdk:
  - oraclejdk8

after_success:
  - mvn clean test jacoco:report org.eluder.coveralls:coveralls-maven-plugin:jacoco -DsourceEncoding=UTF-8
  - mvn deploy -DskipTests -Dgh=true -s setting.xml
